@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-VariableItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
}

:root {
  background-color: #09090B;
}

body{
  font-family: 'Satoshi', sans-serif;
}


@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(4px);
  }
  70% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc2b; /* Cursor color (thumbs)*/
}
::-webkit-scrollbar-thumb:active{
  background-color: #67666675; /* Cursor color (thumbs)*/

}

::-webkit-scrollbar-track {
  background-color:#4242422b; /* Scroll bar background color*/
}